/* Reset básico */
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

body {
    background: #cdcdcd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    scrollbar-width: none;
}