/* Reset básico */
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #cdcdcd;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    padding: 0 20px 20px 20px; 
}


/* Vista movil */

