:root {
  --color-nav-fondo: #181818;
  --color-nav-texto: #eaeaea;
  --color-nav-btn-principal: #538d4e;
  --color-nav-btn-principal-hover: #6aaa64;
  --color-nav-btn-secondario: #3a3a3c;
  --color-nav-btn-secondario-hover: #505053;
  --color-activo: #c9b458;
  --color-teclas-teclado: #ffffff;
  --color-teclas-teclado-reaccion: #cfd8e3;
  --color-letra-correcta: #538d4e;
  --color-letra-mal-colocada: #c9af3a;
  --color-letra-incorrecta: rgb(128, 128, 128);
}
@media (max-width: 700px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; /* Importante para que el padding funcione bien */
    overflow-x: hidden; /* Evita el scroll horizontal */
  }

.tablero,
  #teclado,
  .aside {
    width: 100%; 
    max-width: none; /* Anula los max-width de escritorio */
    margin-left: auto;
    margin-right: auto;
  }

  #tabla td {
    width: 60px;
    height: 60px;
  }
  #tabla td img {
    width: 35px;
    height: 35px;
  }
  #teclado td {
    width: 35px;
    height: 35px;
  }
  .Celda {
    padding: 1.5rem; /* Un poco menos que los 2rem de escritorio */
    font-size: 1.2em;
  }

  .tecla {
    padding: 15px 5px; /* Más bajo para que no sean tan altas */
    font-size: 1em;
  }

  /* Quitar logo y poner texto */
  .logo-container h1 {
    visibility: visible;
    display: block;
    color: var(--color-nav-texto);
    margin-left: 1rem;
  }
  .logo-container img {
    display: none;
    visibility: hidden;
  }
  .logo-container {
    height: auto;
  }
  .navbar {
    height: 6rem;
    width: 100vw;
  }

.contenedor-juego {
    /* En pantallas pequeñas, volvemos a ponerlo en columna */
    flex-direction: column;
    align-items: center; /* Centra todo */
  }

  .Juego-columna {
    width: 100%; /* Ocupa todo el ancho */
  }

  .aside {
    width: 100%;
    max-width: 600px; /* Que tenga el mismo ancho máx. que el teclado */
    position: static; /* Quitamos el 'sticky' */
  }

    .aside #verde{
        color: var(--color-letra-correcta);
    }
    .aside #amarilla{
        color: var(--color-letra-mal-colocada);
    }
    .aside #gris{
        color: var(--color-letra-incorrecta);
    }
    .instrucciones {
    /* Quita los puntos negros de la lista */
    list-style-type: none; 
    
    /* Quita el espacio extra que las listas <ul> traen por defecto */
    padding-left: 0; 
}
}
